@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lobster+Two:ital@1&family=Orbitron&family=Raleway:wght@100&display=swap');



.navbar-brand {
    font-family: 'Lobster Two', cursive;
    padding-left: 10px;
    color: #02403Aff;
    font-weight: bold;
}
h2{

    font-family: 'Raleway', sans-serif;
}

footer{
    font-family: 'Barlow Condensed', sans-serif;
}

.navbar-toggler{
    border: none;
    color: rgba(0,0,0,0);

}

.active{
    color: #EA6552ff !important;
}

h1{
    font-family: 'Orbitron', sans-serif;
}

header img{
    position: relative;
    object-fit: contain;
}

.h1-start{
    padding-top: 10%;
    color: #02403Aff;
}


main{
    color: white;
    background-color: #02403Aff;
}
p{
    font-weight: lighter;
}

.btn{
    color: white;
}

main .card{
    background-color: #02403Aff;
    border: none;

}

.card-title{
    font-weight: bold;
}

.card-text{
    font-weight: lighter;
}




