@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lobster+Two:ital@1&family=Orbitron&family=Raleway:wght@100&display=swap');

.img-prof{
    width: 0,5;
    height: 0,5;
    
}

.navbar-brand {
    font-family: 'Lobster Two', cursive;
    padding-left: 10px;
    color: #02403Aff;
    font-weight: bold;
}
h2{

    font-family: 'Raleway', sans-serif;
}

footer{
    font-family: 'Barlow Condensed', sans-serif;
}

.navbar-toggler{
    border: none;
    color: rgba(0,0,0,0);

}

.active{
    color: #EA6552ff !important;
}

h1{
    font-family: 'Orbitron', sans-serif;
}

header img{
    position: relative;
    object-fit: contain;
}

.h1-start{
    padding-top: 25%;
    color: white;
}


main{
    color: white;
    background-color: #242206;
}


