@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lobster+Two:ital@1&display=swap');

.navbar-brand {
    font-family: 'Lobster Two', cursive;
    padding-left: 10px;
    color: #02403Aff;
}
main{
    background-color: #02403Aff;
}

footer{
    background-color: #EA6552ff;
}
